* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}
#admin-container{
    display: flex;
    background-color:rgb(23, 24, 33);
    width: 100%;
    
}
#sidebar{
    width: 250px;
    background-color:rgb(23, 24, 33);
    border-right: 1px solid rgb(118, 118, 118);
    transition: width 0.3s ease;
}
#sidebar #logo{
width: 100%;
height: 90px;
padding: 5px;
align-items: center;
justify-content: center;
}
#sidebar #logo a img{
  width: 32,4%;
  height: 100%;
  line-height: 50px;
  
}
#sidebar-menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#sidebar-menu .de-muc{
    list-style-type:none;
}
#sidebar-menu .de-muc .muc{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  
}
#sidebar-menu .de-muc .muc a{
    color:rgb(135, 136, 140);
    text-align: left;
    text-decoration: none;
    flex-grow: 1;
}

.muc .nav-arrow-down{
    margin-right: 5px;
    color:darkgray;
}
#sidebar #sidebar-menu .de-muc .muc:hover{
 border-radius: 5px;
 background-color:rgb(43, 43, 54);
    
}


#main-content{
flex-grow: 1;
padding: 15px;
color: rgb(135, 136, 140);
}
/* header */
#main-content #header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 20px 0;
}
#header .search-admin{
    width: 50%;
    height: 50px;
    background-color:rgb(33, 34, 45);
    color: rgb(135, 136, 140);
    border-radius: 12px;
}
#header .search-admin:hover,
#header .search-admin input:hover{
    background-color:  rgb(43, 43, 54);
}
#header .search-admin input{
    width: 80%;
    height: 50px;
    color: rgb(135, 136, 140);
    background-color: rgb(33, 34, 45);    
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
}
#header .search-admin .nav-arrow-down{
margin: 0 6px;
font-size: 12px;
}
/*Login*/
.login-admin .login{
    width: 60px;
   
    line-height: 90px;
}
/*Content*/
/* row dau tien */
#content .row-dau{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
#content .row-dau .row-thong-tin{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
    min-height: 300px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    padding: 20px;
}
#content .row-dau .row-thong-tin .thong-tin{
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
    height: 250px;
    background-color:rgb(23, 24, 33) ;
    padding: 20px;
    border-radius: 15px;

}
#content .row-dau .row-thong-ke{
    width: 28%;
    min-height: 300px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    padding: 25px;
}
.row-thong-tin .thong-tin{
    padding: 20px;
}
.row-thong-tin .thong-tin p i{
    font-size: 30px;
}
.row-thong-tin .thong-tin p{
    color: white;
    margin-bottom: 15px;
}
.row-thong-tin .thong-tin .truy-cap-chi-tiet{
    margin-top: 20px;
    margin-bottom: 0;
}
.row-thong-tin .thong-tin button{
   width: 70%;
   height: 30px;
   border-radius: 5px;
   margin-top: 10px;
}
.row-thong-tin .thong-tin button:hover{
    background-color:aqua;
 }
.row-thong-tin .thong-tin button a{
    text-decoration: none;
    color: black;
}
.row-thong-tin .tai-khoan .ti-user{
    color: aquamarine;
}
.row-thong-tin .tai-khoan button{
    background-color: aquamarine;
}
.row-thong-tin .san-pham .ti-gift{
    color:orange;
}
.row-thong-tin .san-pham button{
    background-color: orange;
}
.row-thong-tin .don-hang .ti-shopping-cart-full{
    color:darkorchid;
}
.row-thong-tin .don-hang button{
    background-color: darkorchid;
}
.row-dau .row-thong-ke {
    padding: 25px;
    width: 100%;
    height: auto;
}
.row-thong-ke .gioi-thieu{
    color: white;
    background-color:rgb(23, 24, 33);
    padding: 10px;
    border-radius: 5px;
}
.row-thong-ke .gioi-thieu h3{
    color:aquamarine;
    margin-bottom: 20px;
}
.row-thong-ke .doanh-thu{
    margin-top: 30px;
    background-color:rgb(23, 24, 33);
    color:white;
    padding: 10px;
    border-radius: 5px;
}
.row-thong-ke .doanh-thu i{
    font-size: 30px;
    color: darkturquoise;
}
.row-thong-ke .doanh-thu i:hover{
    color: yellow;
}
#content .row-hai{
    width: 100%;
    height:400px;
}
/* footer */
#main-content #footer{
    width: 100%;
    height: 50px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
}
#main-content #footer a:hover{
    color:aquamarine;
}

@media screen and (max-width: 1024px) {
    .row-dau .row-thong-tin {
        width: 100%;
    }
    .row-dau .row-thong-ke {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }
    #content .row-dau {
        flex-direction: column;
    }
}
 @media screen and (max-width: 500px) {
    #sidebar {
        width: 80px;
    }
    #sidebar-menu .de-muc .muc a {
        font-size: 12px;
    }
    #footer {
        border-radius: 0;
    }
}
/*Login*/
/*Quan ly*/
#content h2{
    color: rgb(169, 223, 216);
    margin-bottom: 10px;
}
.search-and-create{

}
.search-and-create form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-and-create .tim-kiem{
width: 40%;
}
.search-and-create .tim-kiem button{
    color: black;
    margin-right: 10px;
    width: 100px;
    background-color: rgb(169, 223, 216);
    padding: 10px 10px 10px 0;
    margin: 10px ;
    border-radius: 5px;
}
.search-and-create .tim-kiem input{
    background-color: rgb(33, 34, 45);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    color: azure;
}
.search-and-create .tim-kiem input:hover{
    background-color: rgb(43, 43, 54);
}
.search-and-create .tao-moi{
    padding: 10px 10px 10px 0;
    margin: 10px ;
    

}
.search-and-create .tao-moi a{
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
    background-color: rgb(169, 223, 216);
    padding: 10px;
    color: black;
    text-decoration: none;
}
.search-and-create .tao-moi a:hover{
    background-color: aqua;
}
.danh-sach{
    min-height: 600px;
    margin: auto;
    background-color: rgb(33, 34, 45);
    padding: 0px 20px 20px 0;
    margin-bottom: 10px;
    border-radius: 15px;
   /**/
    max-height: 400px; /* Giới hạn chiều cao bảng */
    overflow-y: auto;  /* Tạo thanh cuộn dọc */
}
.danh-sach .table-danh-sach{
    border-collapse: collapse;
    outline: rgb(135, 136, 140);
    width: 100%;
    
    
    /**/
}
.table-danh-sach td{
    /* border: 1px solid white; */
    border-bottom: 1px solid rgb(135, 136, 140);
    padding: 5px;
    font-size:16px;
    color:white ;
    text-align:left;
    white-space: normal;     
    word-wrap: break-word;  
    word-break: break-word;  
    max-width: 300px;  
    
   
   
}

.danh-sach .table-danh-sach tr th{
    padding: 10px;
    color:rgb(135, 136, 140);
    border-bottom: 1px solid rgb(135, 136, 140);
    text-align:left;
    /* white-space: normal;     
    word-wrap: break-word;  
    word-break: break-word;  
    max-width: 300px;   */
    /**/
    background-color:rgb(33, 34, 45);
    position: sticky;
    top: 0;
    z-index: 2;
}
.table-danh-sach .hinh-anh{
    width: 100px;
    height: 100px;
}
.danh-sach .table-danh-sach tr td img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}

.danh-sach .table-danh-sach tr td .xoa,
.danh-sach .table-danh-sach tr td .sua{
    padding: 5px;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 5px;
    text-decoration: none;
    
    
}

.danh-sach .table-danh-sach tr td .sua{
    background-color:whitesmoke;
}
.danh-sach .table-danh-sach tr td .xoa{
    background-color:aquamarine;
}
.danh-sach .table-danh-sach tr td .sua:hover{
    background-color:aqua;
}
.danh-sach .table-danh-sach tr td .xoa:hover{
    background-color:red;
}
.danh-sach .table-danh-sach tr td .xoa a,
.danh-sach .table-danh-sach tr td .sua a{
    text-decoration: none;
    color: black;
}
/*Thêm sản phẩm*/
.form-tao{
    background-color: rgb(33, 34, 45);
    border-radius: 10px;
    color:rgb(169, 223, 216);
    padding: 20px;
    width: 500px;
    height: auto;
    margin: 0 auto 10px auto;
}
.form-tao .form-group{
    
    display: flex;
    
    margin-bottom: 10px;
   
}
.form-tao .form-group label{
    margin-bottom: 10px;
    padding: 12px 20px;
    width: 150px;
}
.form-tao .form-group input,
.form-tao .form-group textarea{
    background-color: rgb(43, 43, 54);
    color: white;
}
.form-tao .form-group input{
    width: 300px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.form-tao .form-group .anh{
    background-color: rgb(33, 34, 45);
    padding-left: 0;
}
.form-tao .button-group{
    
    text-align:right;
}
.form-tao .button-group .quay-ve,
.form-tao .button-group .cap-nhat-sql{
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    width: 100px;
}
.form-tao .button-group .quay-ve{
    background-color: rgb(150, 234, 234);
    margin-right: 10px;
    
    
}
.form-tao .button-group .cap-nhat-sql{
    background-color:rgb(103, 234, 144);
}