* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}
#admin-container{
    display: flex;
    background-color:rgb(23, 24, 33);
    width: 100%;
    
}

#sidebar {
    width: 200px;
    background-color: rgb(23, 24, 33);
    border-right: 1px solid rgb(118, 118, 118);
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 850px;
    overflow-y: auto;
    z-index: 1000;
}
#sidebar #logo{
width: 100%;
height: 90px;
padding: 5px;
align-items: center;
justify-content: center;
}
#sidebar #logo a img{
  width: 32,4%;
  height: 100%;
  line-height: 50px;
  
}
#sidebar-menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#sidebar-menu .de-muc{
    list-style-type:none;
}
#sidebar-menu .de-muc .muc{
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
  
}
#sidebar-menu .de-muc .muc a{
    color:rgb(135, 136, 140);
    text-align: left;
    text-decoration: none;
    flex-grow: 1;
}

.muc .nav-arrow-down{
    margin-right: 5px;
    color:darkgray;
}
#sidebar #sidebar-menu .de-muc .muc:hover{
 border-radius: 5px;
 background-color:rgb(43, 43, 54);
    
}

/* header */
/* Đẩy phần main-content sang bên phải để không bị sidebar đè lên */
#main-content {
    margin-left: 200px;
    flex-grow: 1;
    color: rgb(135, 136, 140);
}
#main-content #header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 20px 10px;
    border-bottom: #6b6b6b solid 1px;
    

}
.datetime-glass-header{
    background: rgb(33, 34, 45);
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 280px;
    text-align: center;
    display: flex;
}
.datetime-glass-header .ti-alarm-clock{
  margin-right: 10px;
  font-size: 16px;
  color: orange;
}
.datetime-glass {
    color:rgb(238, 245, 243);
    font-size: 16px;
}
#header .search-admin{
    width: 50%;
    height: 50px;
    background-color:rgb(33, 34, 45);
    color: rgb(135, 136, 140);
    border-radius: 12px;
}
#header .search-admin:hover {
    background-color:  rgb(43, 43, 54);
}
#header .search-admin:hover > input{
    background-color:  rgb(43, 43, 54);
}
#header .search-admin input{
    width: 80%;
    height: 50px;
    color: rgb(135, 136, 140);
    background-color: rgb(33, 34, 45);    
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
}
#header .search-admin .nav-arrow-down{
margin: 0 6px;
font-size: 12px;
}
/*Login*/
.login-admin{
    display: flex;
    align-items: center;
    margin-right: 20px;

}
.login-admin p{
    padding-right: 10px;
    color: rgb(177, 238, 224);
}
.login-admin .login{
    width: auto;
    line-height: 90px;
    display: flex;
    text-align: center;

}
.login-admin .login a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.login-admin .login a i{
    color: #ffffff;
}
#content{
    min-height: 600px;
}
/*Content*/
/* row dau tien */
#content{
    margin-top: 10px;
    padding: 15px;
}
#content .row-dau{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
#content .row-dau .row-thong-tin{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 78%;
    min-height: 200px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    padding: 20px;
}
#content .row-dau .row-thong-tin .thong-tin{
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
    height: 200px;
    background-color:rgb(23, 24, 33) ;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

}
#content .row-dau .row-thong-ke{
    width: 20%;
    min-height: 200px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    padding: 25px;
}
.row-thong-tin .thong-tin{
    padding: 20px;
}
.row-thong-tin .thong-tin p i{
    font-size: 18px;
}
.row-thong-tin .thong-tin p{
    color: white;
    margin-bottom: 15px;
}
.row-thong-tin .thong-tin .truy-cap-chi-tiet{
    margin-top: 20px;
    margin-bottom: 0;
}
.row-thong-tin .thong-tin button{
   width: 100px;
   height: 30px;
   border-radius: 5px;
   margin-top: 10px;
}
.row-thong-tin .thong-tin button:hover{
    background-color:aqua;
 }
.row-thong-tin .thong-tin button a{
    text-decoration: none;
    color: black;
}
.row-thong-tin .tai-khoan .ti-user{
    color: aquamarine;
}
.row-thong-tin .tai-khoan button{
    background-color: aquamarine;
}
.row-thong-tin .san-pham .ti-gift{
    color:orange;
}
.row-thong-tin .san-pham button{
    background-color: orange;
}
.row-thong-tin .don-hang .ti-shopping-cart-full{
    color:pink;
}
.row-thong-tin .don-hang button{
    background-color:pink;
}
.row-thong-tin .marquee-box {
        background: linear-gradient(90deg, rgb(157, 225, 233), rgb(100, 212, 246));
        color: white;
        padding: 5px 10px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
    
      
        overflow: hidden;
}

.row-thong-tin .marquee-box marquee {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.5px;
}
.row-dau .row-thong-ke {
    padding: 25px;
    width: 100%;
    height: auto;
}
.row-thong-ke .gioi-thieu{
    color: white;
    background-color:rgb(23, 24, 33);
    padding: 10px;
    border-radius: 5px;
}
.row-thong-ke .gioi-thieu h3{
    color:aquamarine;
    margin-bottom: 20px;
}
.row-thong-ke .doanh-thu{
    margin-top: 30px;
    background-color:rgb(23, 24, 33);
    color:white;
    padding: 10px;
    border-radius: 5px;
}
.row-thong-ke .doanh-thu i{
    font-size: 30px;
    color: darkturquoise;
}
.row-thong-ke .doanh-thu i:hover{
    color: yellow;
}
#content .row-hai{
    width: 100%;
    height:400px;
}
/* footer */
#main-content #footer{
    width: 100%;
    height: 50px;
    background-color:rgb(33, 34, 45) ;
    border-radius: 15px;
    color: white;
    text-align: center;
    line-height: 50px;
}
#main-content #footer a:hover{
    color:aquamarine;
}

/* @media screen and (max-width: 1024px) {
    .row-dau .row-thong-tin {
        width: 100%;
    }
    .row-dau .row-thong-ke {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }
    #content .row-dau {
        flex-direction: column;
    }
}
 @media screen and (max-width: 500px) {
    #sidebar {
        width: 200px;
    }
    #sidebar-menu .de-muc .muc a {
        font-size: 12px;
    }
    #footer {
        border-radius: 0;
    }
} */




/* Gỡ bỏ các media query làm thay đổi chiều rộng sidebar */
@media screen and (max-width: 1024px) {
    .row-dau .row-thong-tin {
        width: 100%;
    }
    .row-dau .row-thong-ke {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #content .row-dau {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #sidebar-menu .de-muc .muc a {
        font-size: 12px;
    }
    #footer {
        border-radius: 0;
    }
}

/*Login*/
/*Quan ly*/
#content h2{
    color: rgb(169, 223, 216);
    margin-bottom: 10px;
}
.search-and-create{

}
.search-and-create form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-and-create .tim-kiem{
width: 40%;
display: flex;
align-items: center;
}
.search-and-create .tim-kiem button{
    color: black;
    margin-right: 10px;
    width: 100px;
    background-color: rgb(169, 223, 216);
    padding: 10px 10px 10px 0;
    margin: 10px ;
    border-radius: 5px;
}
.search-and-create .tim-kiem input{
    background-color: rgb(33, 34, 45);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    color: azure;
}
.search-and-create .tim-kiem input:hover{
    background-color: rgb(43, 43, 54);
}
.search-and-create .tao-moi{
    padding: 2px 2px 2px 0;
    margin: 10px ;
    
    

}
.search-and-create .tao-moi a{
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: rgb(169, 223, 216);
    padding: 5px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.search-and-create .tao-moi a:hover{
    background-color: aqua;
}
.danh-sach{
    min-height: 600px;
    margin: auto;
    background-color: rgb(33, 34, 45);
    padding: 0px 20px 20px 0;
    margin-bottom: 10px;
    border-radius: 15px;
   /**/
    max-height: 400px; /* Giới hạn chiều cao bảng */
    overflow-y: auto;  /* Tạo thanh cuộn dọc */
    scrollbar-color: rgb(244, 228, 231) rgb(33, 34, 45);
}
.danh-sach .table-danh-sach{
    border-collapse: collapse;
    outline: rgb(135, 136, 140);
    width: 100%;
    
    
    /**/
}
.table-danh-sach td{
    /* border: 1px solid white; */
    border-bottom: 1px solid rgb(69, 69, 70);
    padding: 5px;
    font-size:13px;
    color:white ;
    text-align:left;
    white-space: normal;     
    word-wrap: break-word;  
    word-break: break-word;  
    max-width: 300px;  
   
}

.danh-sach .table-danh-sach tr th{
    padding: 5px;
    color:rgb(135, 136, 140);
    border-bottom: 1px solid rgb(135, 136, 140);
    text-align:left;
    font-size: 14px;
    /* white-space: normal;     
    word-wrap: break-word;  
    word-break: break-word;  
    max-width: 300px;   */
    /**/
    background-color:rgb(33, 34, 45);
    position: sticky;
    top: 0;
    z-index: 2;
}
.table-danh-sach .hinh-anh{
    width: 100px;
    height: 100px;
}
.danh-sach .table-danh-sach tr td img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}

.danh-sach .table-danh-sach tr td .xoa,
.danh-sach .table-danh-sach tr td .chitiet,
.danh-sach .table-danh-sach tr td .sua{
    
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: none;
   
    text-decoration: none;
    font-size: 13px;
    padding: 3px;
    
    
}
.danh-sach .table-danh-sach tr td .sua{
    background-color:rgb(66, 221, 221);
    color: black;
}
.danh-sach .table-danh-sach tr td .xoa{
    background-color:rgb(233, 61, 61);
    color: black;
}
.danh-sach .table-danh-sach tr td .chitiet{
    background-color:rgb(234, 243, 111);
    color: black;
}

.danh-sach .table-danh-sach tr td .sua:hover{
    background-color:aqua;
}
.danh-sach .table-danh-sach tr td .chitiet:hover{
    background-color:rgb(241, 201, 123);
}
.danh-sach .table-danh-sach tr td .xoa:hover{
    background-color:rgb(254, 250, 250);
}
.danh-sach .table-danh-sach tr td .chitiet,
.danh-sach .table-danh-sach tr td .xoa a,
.danh-sach .table-danh-sach tr td .sua a{
    text-decoration: none;
    color: black;
}
.loc-role-user{
    padding: 10px;
    background-color: rgb(169, 223, 216);
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    height: 40px;
}
.loc-thuong-hieu-product{
    padding: 10px;
    background-color: rgb(169, 223, 216);
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    height: 40px;
}
/*Phan trang*/
.phan-trang{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 2px auto; 
    width: fit-content; 

}
.phan-trang .now{
    background-color: rgb(220, 242, 242);
}
.phan-trang a{
    background-color: rgb(255, 255, 75);
}
.phan-trang a, .phan-trang .now{
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 5px 10px;
    margin: 1px 1px; 
    text-align: center;
}
/* Chitiet */
.detail-product{
    width: 100%;
    height: auto;
    background-color:rgb(33, 34, 45) ;
    padding: 10px;
    border-radius: 15px;
   margin-bottom: 10px;
}
.detail-product p {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    color:rgb(191, 229, 217);
    padding: 2px;
    margin: 10px;
    font-size: 16px;
    }
    .detail-product p span{
        color:white;
    }
    .detail-product .hinh-detail-product{
        display: flex;
    }
    .detail-product .hinh-detail-product div{
        padding: 10px;
        margin: 10px;
    }
    .detail-product .hinh-detail-product div img{
        border-radius: 10px;
        width: 200px;
        height: 300px;
    }
    .detail-product .thong-so-ki-thuat ul{
     padding: 0 0 0 20px;
       
    }
    .detail-product .thong-so-ki-thuat ul li{
        padding: 10px;
        margin: 10px;
        color: rgb(191, 229, 217);
    }
    .detail-product .thong-so-ki-thuat ul li span{
    
        color: white;
    }
    .detail-product .detail-product-quay-ve{
        text-align: center;
        margin: 10px;
    }
    .detail-product button{
        padding: 6px;
        border-radius: 5px;
        background-color: rgb(53, 230, 168);
        border: none;
        outline: none;
        box-shadow: none;
    }
/*Form xóa*/
.modal {
    display: none; /* Ẩn mặc định */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* nền mờ */
    z-index: 999;
    justify-content: center;
    align-items: center;
   
}

.modal.active {
    display: flex; /* Hiện modal và căn giữa */
}

.xoa-modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}
.xoa-modal-content p{
    color: black;
}
.xoa-buttons {
    margin-top: 15px;
    padding: 10px;
}

.xoa-buttons button {
    margin: 0 10px;
    padding: 5x;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.xoa-cancelBtn {
    background-color: #ccc;
}

.xoa-confirmBtn {
    background-color: #e74c3c;
    color: white;
}
  
/*Thêm sản phẩm*/
.form-tao{
    background-color: rgb(33, 34, 45);
    border-radius: 10px;
    color:rgb(169, 223, 216);
    padding: 20px;
    width: 500px;
    height: auto;
    margin: 0 auto 10px auto;
}
.form-tao .form-group{
    
    display: flex;
    
    margin-bottom: 10px;
   
}
.form-tao .form-group label{
    margin-bottom: 10px;
    padding: 12px 20px;
    width: 150px;
}
.form-tao .form-group input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(43, 43, 54) inset !important;
    box-shadow: 0 0 0px 1000px rgb(43, 43, 54) inset !important;
    -webkit-text-fill-color: white !important;
}
.form-tao .form-group input,
.form-tao .form-group textarea{
    background-color: rgb(43, 43, 54) !important;
    color: white;
}
.form-tao .form-group input{
    width: 300px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.form-tao .form-group .anh{
    background-color: rgb(33, 34, 45) !important;
    padding-left: 0;
}
.form-tao .button-group{
    
    text-align:right;
}
.form-tao .button-group .quay-ve,
.form-tao .button-group .cap-nhat-sql{
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    width: 100px;
}
.form-tao .button-group .quay-ve{
    background-color: rgb(150, 234, 234);
    margin-right: 10px;
    
    
}
.form-tao .button-group .cap-nhat-sql{
    background-color:rgb(103, 234, 144);
}
.form-tao .form-group select{

    width: 300px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(43, 43, 54);
    color: white;
}
/*Hiển thị thông báo*/
.toast-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    padding: 12px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.toast-alert.fade-out {
    opacity: 0;
}